h1 { 
    color: green;
    text-shadow: 4px 4px4px hotpink;
    font-family: 'Anton', sans-serif;
    font-size: 150%;
}
h2 {
    color: darkorange;
    font-size: 90%;
    font-family: 'Sansita Swashed', cursive;

    
}
.likes  {
    color: darkblue;
    text-shadow: burlywood;
    font-family: 'Shadows Into Light', cursive;
    

}
.dislikes {
    color: darkred;
    font-family: 'Fugaz One', cursive;
}
body { text-align: center;}